h1 {
    text-align: center;
    font-weight: 400;
    text-decoration: #f79120 underline;
    letter-spacing: 15px;
    font-size: 100px;
    /* font-family: 'Segoe UI', Verdana, sans-serif; */
    font-family: monospace;

}

p {
    line-height: 2;
}

a {
    text-decoration: none;
}